<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменить заметку</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/notes/{id}(id=${note.getId()})}" th:object="${note}">

    <label for="header">Название: </label>
    <input type="text" th:field="*{header}" id="header"/>

    <br/>

    <label for="content">Контент: </label>
    <input type="text" th:field="*{content}" id="content"/>

    <br/>

    <input type="submit" value="Обновить">
</form>
</body>
</html>