<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${note.getHeader()}"></title>
</head>
<body>
    <h1 th:text="${note.getHeader()}"></h1>
    <p th:text="${note.getContent()}"></p>

    <form th:method="GET" th:action="@{/notes/{id}/edit(id=${note.getId()})}">
        <input type="submit" value="Изменить">
    </form>

    <form th:method="DELETE" th:action="@{/notes/{id}(id=${note.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</body>
</html>